@model CustomerAddViewModel

@{
    Layout = "Customer_Layout";
    ViewData["Title"] = "Customer";
}
<div class="col-4"></div>
<div class="col-4">
    <form asp-controller="Customer" asp-action="ChangePassword">
        <div class="form-group">
            <label asp-for="customer.Password">Password</label>
            <input type="password" asp-for="customer.Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="customer.Password"></span>
        </div>
        <input type="submit" value="Save Changes" class="btn btn-group-lg btn-primary" />
    </form>
</div>
<div class="col-4"></div>
